body {
	margin-left: 0;
}
		
.info-container {
	display: inline-flex;
	padding: 7px;
				
	align-items: top;
}

.info-container div {
	margin-left: 7px;
}

.links {
	display: inline-block;
}

.speaker, .link {	
	cursor: pointer;
				
	opacity: 0.85;
}

#video_box{
	position:relative;
}

#video_overlays {
	position:absolute;
	width:160px;
	min-height:40px;
	z-index:300000;
	bottom:10px;
	left:10px;
}
